:root {
  --button-arrow-left-size: theme("spacing.1");
  --button-arrow-left-size-grown: theme("spacing.3");
  --button-color: var(--color-3a-paper);
}

.btn {
  @apply text-sm py-2 px-0 font-extralight;
  color: var(--button-color);
  transition: all 0.2s;
}

.btn--active {
  pointer-events: none;
  /*color: var(--3q) !important;*/
  @apply !text-3a-green;
}

.btn--disabled {
  pointer-events: none !important;
  opacity: 0.5;
}

.btn:hover,
.btn:focus {
  @apply text-3a-white;
}

.btn::before {
  display: inline-block;
  padding-right: var(--button-arrow-left-size);
  content: "→ ";
  transform: translateX(0);
}
.btn::before,
.btn::after {
  transition: all 0.3s;
}

.btn::after {
  content: "";
  padding-right: var(--button-arrow-left-size-grown);
}

.btn--back::before {
  content: "← ";
}

.btn:hover::before {
  padding-right: var(--button-arrow-left-size-grown);
  transform: translateX(var(--button-arrow-left-size));
}

.btn:hover::after {
  padding-right: var(--button-arrow-left-size);
}
