:root {
  --i: 0;
  --is: 0;
  --numItems: 4;
}

.nav li {
  white-space: nowrap;
}

/*body:global(.preview-layout) .navOuter {*/
/*  !*left: 100%;*!*/
/*  !*transform: scale(1.6);*!*/
/*  @apply translate-y-8;*/
/*  @apply -translate-x-8;*/
/*}*/

.navOuter {
  @apply grid;
  @apply relative;
  @apply w-full;
  @apply sm:w-auto;
  @apply sm:fixed;
  @apply top-0;
  @apply right-0;
  @apply z-30;
  /*@apply sm:rounded-lg;*/

  @apply sm:-translate-x-5;
  @apply sm:translate-y-5;
  /*@apply sm:bg-none;*/
  /*@apply bg-3a-gray-darkest;*/
  @apply m-0;
  @apply sm:border-0;
  @apply sm:border-3a-green;
  @apply max-sm:bg-3a-gray-darkest;
  /*@apply sm:bg-auto;*/
  /*@apply border-opacity-0;*/
  transform-origin: 2rem 0%;

  /*@apply sm:transition-transform;*/
}

.navOuter.navOuterShow {
  @apply transition-transform;
  @apply sm:transition-[transform_background_border];
  /*@apply sm:transition-[background];*/
  /*@apply sm:transition-[border];*/
  @apply bg-3a-gray-darkest;
  @apply sm:border-[0.5px];
}

.navInner {
  @apply w-full;
  @apply sm:w-auto;
  @apply flex;
  @apply flex-col;
  @apply gap-3;
  @apply pt-24;
}

.nav {
  @apply grid;
  grid-template-rows: 0fr;
  grid-template-columns: 0fr;
  transition:
    grid-template-rows 0.4s ease-out,
    grid-template-columns 0.2s ease-out;
  transition-delay: 0.2s;
}

.navOuter.navOuterShow .nav {
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  transition:
    grid-template-rows 0.3s ease-out,
    grid-template-columns 0.1s ease-out;
  transition-delay: 0s;
}

.navHead {
  @apply absolute;
  @apply right-0;
  @apply w-full;
  /*@apply sm:relative;*/
  @apply h-16;
  @apply cursor-pointer;
  @apply pl-4;
  @apply pr-8;
  @apply sm:px-8;
  @apply mt-8;
  @apply sm:mt-4;
  @apply flex;
  @apply flex-row;
  @apply gap-3;
  @apply items-center;
  @apply justify-between;
  @apply flex-row-reverse;
  @apply text-3a-white;
  @apply text-sm;
  /*@apply bg-3a-gray-darkest;*/
  transition: all 0.3s;
}

.navOuter.navOuterShow .navHead {
  /*@apply mt-2;*/
  @apply sm:mt-0;
}

.navHeadSymbol {
  @apply flex;
  @apply flex-col;
  @apply gap-1;
  transition: all 0.3s;
}

.navHeadSymbol > span {
  @apply h-0.5;
  @apply w-5;
  @apply rounded;
  @apply bg-3a-green;
  transform: scaleX(1);
  transform-origin: top left;
  /*transition: all 0.3s calc(var(--i) * 0.3s);*/
  /*animation: 2s calc(var(--is) * 0.3s) infinite navHeadSymbolHover;*/
}

.navOuter:not(.navOuterShow) .navHeadSymbol:hover > span {
  animation: 0.6s calc(var(--is) * 0.1s) infinite navHeadSymbolHover;
}

@keyframes navHeadSymbolHover {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.8);
  }
}

.navHeadSymbol > span:nth-child(even) {
  @apply w-4;
}

.navOuter.navOuterShow .navHeadSymbol span {
  @apply bg-3a-white;
}
.navOuter:hover .navHeadSymbol span {
}

.navHeadSymbol + span {
  @apply opacity-0;
  @apply blur-xl;
  @apply transition-opacity;
  transition-delay: 0s;
}

.navOuter.navOuterShow .navHeadSymbol + span {
  @apply opacity-100;
  @apply blur-0;
  transition-delay: 0.35s;
}

.navOuter nav li {
  @apply opacity-0;
  @apply -translate-y-2;
  @apply blur-xl;
  transition:
    opacity 0.3s,
    transform 0.3s;
  transition-delay: calc(0.015s * (var(--numItems) - (var(--i))));
}

.navOuter.navOuterShow nav li {
  @apply blur-0;
  @apply opacity-100;
  @apply translate-y-0;
  transition-delay: calc(0.2s + 0.02s * var(--i));
}
