:root {
  --button-arrow-left-size: theme("spacing.2");
  --button-arrow-left-size-grown: theme("spacing.5");
  --button-color: var(--color-3a-paper);
}

.btn {
  @apply text-sm;
  @apply py-2;
  @apply font-extralight;
  color: var(--button-color);
  transition: all 0.2s;
}

.btn:hover,
.btn:focus {
  @apply text-3a-white;
}

.btn::before {
  display: inline-block;
  padding-right: var(--button-arrow-left-size);
  content: "→ ";
  transform: translateX(0);
}
.btn::before,
.btn::after {
  transition: all 0.3s;
}

.btn::after {
  content: "";
  padding-right: var(--button-arrow-left-size-grown);
}

.btn--back::before {
  content: "← ";
}

.btn:hover::before {
  padding-right: var(--button-arrow-left-size-grown);
  transform: translateX(var(--button-arrow-left-size));
}

.btn:hover::after {
  padding-right: var(--button-arrow-left-size);
}
