@import url("./styles/button.css");
@import url("./styles/sub-navigation.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-3a-green: 62 241 152; /*62, 241, 152 */
    --color-3a-green-darker: 23 174 99;
    --color-3a-green-lighter: 122 244 185;
    --color-3a-red: 255 101 138;
    --color-3a-blue: 30 180 255;
    --color-3a-white: 213 211 210;
    --color-3a-paper: 134 143 132;
    --color-3a-gray: 66 73 64;
    --color-3a-gray-darker: 33 40 39;
    --color-3a-gray-darkest: 23 28 26;
    --color-3a-black: 13 16 15;
    --background-rgb: var(--color-3a-gray-darkest);
    --foreground-rgb: var(--color-3a-paper);
  }
}

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
  font-variant-numeric: slashed-zero tabular-nums;
  font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
  font-variant-alternates: stylistic(alternates);
  font-feature-settings: "ss01", "ss02", "ss04";
}
@font-face {
  font-family: "Hoves";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("/fonts/TT_Hoves_Pro_Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Hoves";
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url("/fonts/TT_Hoves_Pro_Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Hoves";
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url("/fonts/TT_Hoves_Pro_Thin.woff2") format("woff2");
}
@font-face {
  font-family: "Hoves";
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src: url("/fonts/TT_Hoves_Pro_Thin_Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Hoves";
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  src: url("/fonts/TT_Hoves_Pro_DemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Hoves";
  font-style: italic;
  font-display: swap;
  font-weight: bold;
  src: url("/fonts/TT_Hoves_Pro_DemiBold_Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Hoves-Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("/fonts/TT_Hoves_Pro_Mono_Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Hoves-Mono";
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url("/fonts/TT_Hoves_Pro_Mono_Italic.woff2") format("woff2");
}

svg .logo-main-color {
  fill: var(--color-3a-white);
}

svg .logo-highlight-color {
  fill: var(--color-3a-green);
}

svg {
  overflow: visible;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.main-layout {
  transform-origin: left top;
  position: relative;
  left: 0%;
  transition: all 0.66s;
}
body.preview-layout .main-layout {
  transition: all 0.33s;
  @apply w-[80%];
  left: -10%;
  @apply translate-y-8;
  @apply translate-x-8;
  /*@apply -translate-x-[20%];*/
  @apply shadow-2xl;
  @apply scale-[.45];
}
