@import url("./styles/button.css");
@import url("./styles/sub-navigation.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Hoves;
  src: url("/TT Hoves Pro Trial Regular.ttf");
}

@font-face {
  font-family: Hoves-Mono;
  src: url("/TT_Hoves_Pro_Mono_Trial_Thin.ttf");
}

:root {
  --color-3a-green: #3ef198;
  --color-3a-green-darker: #17ae63;
  --color-3a-green-lighter: #7af4b9;
  --color-3a-red: #ff658a;
  --color-3a-white: #dedddc;
  --color-3a-paper: #868f84;
  --color-3a-gray: #424940;
  --color-3a-gray-darker: #212827;
  --color-3a-gray-darkest: #171c1a;
  --color-3a-black: #0d100f;

  --background-rgb: var(--color-3a-gray);
  --foreground-rgb: var(--color-3a-paper);
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background-rgb: var(--color-3a-gray-darkest);*/
/*    --foreground-rgb: var(--color-3a-white);*/
/*  }*/
/*}*/

body {
  background: var(--background-rgb);
  color: var(--foreground-rgb);
  font-variant-numeric: slashed-zero;
  font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
  font-variant-alternates: stylistic(alternates);
  font-feature-settings: "salt" 1;
  /*font-variant-alternates: character-variant(cv02);*/
}

svg .logo-main-color {
  fill: var(--color-3a-white);
}

svg .logo-highlight-color {
  fill: var(--color-3a-green);
}

svg {
  overflow: visible;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.main-layout {
  transform-origin: left top;
  position: relative;
  left: 0%;
  transition: all 0.66s;
}
body.preview-layout .main-layout {
  transition: all 0.33s;
  @apply w-[80%];
  left: -10%;
  @apply translate-y-8;
  @apply translate-x-8;
  /*@apply -translate-x-[20%];*/
  @apply shadow-2xl;
  @apply scale-[.45];
}
